body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

.banner {
  position: relative;
  width: 100%;
  height: 30rem;
  padding: 0 5%;
  overflow: hidden;
  backface-visibility: hidden;
}

.banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3d(0,0,0) scale(1.25);
  background: black url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
    filter: brightness(40%);
}

.banner nav {
  margin-bottom: 90px;
}

.loaded .banner .background {
  transform: scale(1);
  transition: 6.5s transform;
}
